@import "tailwindcss";

@layer utilities {
  .bg-bgPrimary {
    background-color: #F9F9F9;
  }

  .bg-bgSecondary {
    background-color: #daf3dc;
  }

  .text-textPrimary {
    color: #424242;
  }

  .text-textSecondary {
    color: #4CAF50;
  }

  /* Hover állapotok */
  .hover\:bg-bgSecondary:hover {
    background-color: #daf3dc;
  }

  .hover\:text-textSecondary:hover {
    color: #4CAF50;
  }
}