@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-primary: #F9F9F9;
  --bg-secondary: #daf3dc;
  --text-primary: #424242;
  --text-secondary: #4CAF50;
}

.dark {
  --bg-primary: #121212;       
  --bg-secondary: #1e3a2b;    
  --text-primary: #e0e0e0;     
  --text-secondary: #66bb6a;  
}

@theme {
  --color-bgPrimary: var(--bg-primary);
  --color-bgSecondary: var(--bg-secondary);
  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
}